# listTel
Generates list of telescope positions to copy/paste into corsika input

Author: Nik Korzoun

In [1]:
# range (m)
R = 400
# intertelescope distance (cm)
d = 500

# make sure telescopes dont overlap
overlap = d*2<=50
# make sure not to reach corsika telescope limit
N = 100*R/d +1
telLim = N > 999

In [2]:
# print
if(not telLim):
    if(not overlap):
        for x in range(0,100*R+1,d):
            print("TELESCOPE "+str(x)+". 0. 0. 25.")
    else:
        print("telescopes overlap!")
else:
    print("corsika telescope limit reached!")
# TELESCOPE X Y Z R
# all in units of cm

TELESCOPE 0. 0. 0. 25.
TELESCOPE 500. 0. 0. 25.
TELESCOPE 1000. 0. 0. 25.
TELESCOPE 1500. 0. 0. 25.
TELESCOPE 2000. 0. 0. 25.
TELESCOPE 2500. 0. 0. 25.
TELESCOPE 3000. 0. 0. 25.
TELESCOPE 3500. 0. 0. 25.
TELESCOPE 4000. 0. 0. 25.
TELESCOPE 4500. 0. 0. 25.
TELESCOPE 5000. 0. 0. 25.
TELESCOPE 5500. 0. 0. 25.
TELESCOPE 6000. 0. 0. 25.
TELESCOPE 6500. 0. 0. 25.
TELESCOPE 7000. 0. 0. 25.
TELESCOPE 7500. 0. 0. 25.
TELESCOPE 8000. 0. 0. 25.
TELESCOPE 8500. 0. 0. 25.
TELESCOPE 9000. 0. 0. 25.
TELESCOPE 9500. 0. 0. 25.
TELESCOPE 10000. 0. 0. 25.
TELESCOPE 10500. 0. 0. 25.
TELESCOPE 11000. 0. 0. 25.
TELESCOPE 11500. 0. 0. 25.
TELESCOPE 12000. 0. 0. 25.
TELESCOPE 12500. 0. 0. 25.
TELESCOPE 13000. 0. 0. 25.
TELESCOPE 13500. 0. 0. 25.
TELESCOPE 14000. 0. 0. 25.
TELESCOPE 14500. 0. 0. 25.
TELESCOPE 15000. 0. 0. 25.
TELESCOPE 15500. 0. 0. 25.
TELESCOPE 16000. 0. 0. 25.
TELESCOPE 16500. 0. 0. 25.
TELESCOPE 17000. 0. 0. 25.
TELESCOPE 17500. 0. 0. 25.
TELESCOPE 18000. 0. 0. 25.
TELESCOPE 18500. 0. 0. 25.
TELESCOPE 19000. 0. 0. 25.
TELESCOPE 19500. 0. 0. 25.
TELESCOPE 20000. 0. 0. 25.
TELESCOPE 20500. 0. 0. 25.
TELESCOPE 21000. 0. 0. 25.
TELESCOPE 21500. 0. 0. 25.
TELESCOPE 22000. 0. 0. 25.
TELESCOPE 22500. 0. 0. 25.
TELESCOPE 23000. 0. 0. 25.
TELESCOPE 23500. 0. 0. 25.
TELESCOPE 24000. 0. 0. 25.
TELESCOPE 24500. 0. 0. 25.
TELESCOPE 25000. 0. 0. 25.
TELESCOPE 25500. 0. 0. 25.
TELESCOPE 26000. 0. 0. 25.
TELESCOPE 26500. 0. 0. 25.
TELESCOPE 27000. 0. 0. 25.
TELESCOPE 27500. 0. 0. 25.
TELESCOPE 28000. 0. 0. 25.
TELESCOPE 28500. 0. 0. 25.
TELESCOPE 29000. 0. 0. 25.
TELESCOPE 29500. 0. 0. 25.
TELESCOPE 30000. 0. 0. 25.
TELESCOPE 30500. 0. 0. 25.
TELESCOPE 31000. 0. 0. 25.
TELESCOPE 31500. 0. 0. 25.
TELESCOPE 32000. 0. 0. 25.
TELESCOPE 32500. 0. 0. 25.
TELESCOPE 33000. 0. 0. 25.
TELESCOPE 33500. 0. 0. 25.
TELESCOPE 34000. 0. 0. 25.
TELESCOPE 34500. 0. 0. 25.
TELESCOPE 35000. 0. 0. 25.
TELESCOPE 35500. 0. 0. 25.
TELESCOPE 36000. 0. 0. 25.
TELESCOPE 36500. 0. 0. 25.
TELESCOPE 37000. 0. 0. 25.
TELESCOPE 37500. 0. 0. 25.
TELESCOPE 38000. 0. 0. 25.
TELESCOPE 38500. 0. 0. 25.
TELESCOPE 39000. 0. 0. 25.
TELESCOPE 39500. 0. 0. 25.
TELESCOPE 40000. 0. 0. 25.

In [3]:
# number of telescopes
N

81.0